body {
    font-family: 'Segoe UI', sans-serif;
    background-color: black;
    color: lightgray;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#resource_bar {
    width: 20em;
    max-width: 20em;
    min-width: 20em;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding-left: 0.3em;
    padding-right: 0.3em;
    position: absolute;
    top: 1em;
    left: 1em;
    
}

.res_gen {
    float: right;
}
#buildings {
    position: absolute;
    top: 1em;
    left: 24em;

}


.building {
    border-radius: 3px;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border: 1px solid lightgray;
    display: block;

        width: 18em;
    max-width: 18em;
    min-width: 18em;
}

.building_state_on {
    background-color: green;
    position: absolute;
    border: solid green 1px;
    border-radius: 3px;
    left: 19em;
    top: 0em;

}

.building_state_off {
    background-color: red;
    position: absolute;
    border: solid red 1px;
    border-radius: 3px;
    left: 19em;
    top: 0em;

}

.building_remove {
    position: absolute;
    left: -2em;
    border: solid red 1px;
    border-radius: 3px;
    color: red;
    padding-left: .5em;
    padding-right: .5em;
}

.building_expensive {
    color: red;
}

.building_amount {
    text-align: right;
    float: right;
}

#log {
    margin: .5em;
    background: transparent;
    width: inherit;
}
#upgrades {
    position: absolute;
    top: 1em;
    left: 45em;
}

.upgrade {
    border-radius: 3px;
    height: 6em;
    width: 6em;
    background-color: #222;
}

#events {
    position: fixed;
    top: 10%;
    left: 10%;

    height: 80%;
    width: 80%;
    z-index: 1;
    background-color: #222;

    border: solid lightgray 1px;
    border-radius: 3px;

    align-content: center;
    text-align: center;
}

#events_topbar {
    border-bottom: solid lightgray 1px;
    padding-top: .3em;
    padding-bottom: .4em;
    margin-bottom: .3em;
    background-color: #333;
}

#close_events {
    position: absolute;
    z-index: 100;
    top: 0.3em;
    right: 0.3em;
    background-color: red;
    border: solid orange 1px;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 3px;
}

#reset {
    border: solid red 1px;
    border-radius: 3px;
    padding-left: .3em;
    padding-right: .3em;
}

#save {
    border: solid grey 1px;
    border-radius: 3px;
    padding-left: .3em;
    padding-right: .3em;
}

#prestige {
    border: solid green 1px;
    border-radius: 3px;
    padding-left: .3em;
    padding-right: .3em;
}

#save_text {
    opacity: 0;
}
#all_off {
    border: solid red 1px;
    border-radius: 3px;
    background: red;
    padding-left: .3em;
    padding-right: .3em;
}
#all_on {
    border: solid green 1px;
    border-radius: 3px;
    background: green;
    padding-left: .3em;
    padding-right: .3em;
}

ul{
    list-style-type: none;
}

li{
    position: relative;
    left: -2em;
    top: -.5em;
    background-color: #222;
    float: left;
    margin: .1em;

}

hr {
    margin-top: .8em; 
    margin-bottom: .8em; 
    width: 70%;
}

select {
    background-color: #777;
    max-height: 3em;
}


/* Tooltip container */
.tooltip {
    position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 15em;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 3px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 10%;

    opacity: 0;
    transition: opacity .3s;
}

.hidden {
    display: none !important;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.tooltip > .tooltiptext:hover {
    visibility: hidden;
}

/* The upgrade tooltip should specifically stay if hovered over .*/
#upgrade_count > .tooltiptext:hover {
             visibility: visible;
  -webkit-touch-callout: initial; /* iOS Safari */
    -webkit-user-select: initial; /* Safari */
     -khtml-user-select: initial; /* Konqueror HTML */
       -moz-user-select: initial; /* Firefox */
        -ms-user-select: initial; /* Internet Explorer/Edge */
            user-select: initial; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
       
}

.clickable {
    color: white;
    border: solid white 1px; 
    border-radius: 3px; 
    padding-left: .3em; 
    padding-right: .3em; 
    display: inline-block; 
    margin: .2em;
}
