body {
    font-family: 'Segoe UI', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#purchased_upgrades {
  -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
       -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

table {
    margin-left: auto;
    margin-right: auto;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: #9a929e;
  display: inline-block;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

input[type=radio]:checked + label {
  background: #675f6b;
}

label + input[type=radio] + label {
  border-left: solid 1px #675f6b;
}

.radio-group {
  border: solid 1px #675f6b;
  display: inline-block;
  border-radius: 3px;
  overflow: hidden;
}


#resource_bar {
    width: 20em;
    max-width: 20em;
    min-width: 20em;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 0.3em;
    padding-right: 0.3em;
    position: absolute;
    top: 1.5em;
    left: 1em;
}

#resource_bar > *:not(:last-child) {
    border-bottom: solid 1px;
}

.res_gen {
    float: right;
}

.change_track {
    min-width: 10em;
}

.change_track tr:not(:last-child) td {
    border-bottom: 1px dashed;
}

.change_track td {
    padding-right: 20%;
}

#buildings {
    position: absolute;
    top: 1.5em;
    left: 24em;

}


.building {
    border-radius: 3px;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border: 1px solid;
    display: block;

        width: 18em;
    max-width: 18em;
    min-width: 18em;
}

.building_state_on {
    background-color: green;
    position: absolute;
    border: solid green 1px;
    border-radius: 3px;
    left: 19em;
    top: 0em;

}

.building_state_off {
    background-color: red;
    position: absolute;
    border: solid red 1px;
    border-radius: 3px;
    left: 19em;
    top: 0em;

}

.building_remove {
    position: absolute;
    left: -2em;
    border: solid red 1px;
    border-radius: 3px;
    color: red;
    padding-left: .5em;
    padding-right: .5em;
}

.building_expensive {
    color: red;
}

.building_amount {
    text-align: right;
    float: right;
}

#log {
    margin: .5em;
    background: transparent;
    width: inherit;
}
#upgrades {
    position: absolute;
    top: 1.5em;
    left: 45em;
}

.upgrade {
    border-radius: 3px;
    height: 6em;
    width: 6em;
}

#events {
    position: fixed;
    top: 8%;
    left: 25%;

    height: 80%;
    width: 66%;
    min-height: 35em;
    min-width: 45em;
    z-index: 1;

    border: 1px solid;
    border-radius: 3px;

    align-content: center;
    text-align: center;
}

#events_content {
    height: 90%;
    overflow-y: scroll;
}

.window_topbar {
    border-bottom: 1px solid;
    padding-top: .3em;
    padding-bottom: .4em;
    margin-bottom: .3em;
}

#close_events {
    position: absolute;
    z-index: 100;
    top: 0.3em;
    right: 0.3em;
    background-color: red;
    border: 1px solid orange;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 3px;
}

#character {
    position: fixed;
    top: 8%;
    left: 2%;

    height: 80%;
    min-height: 35em;
    width: 22.9%;
    z-index: 1;

    border: 1px solid;
    border-radius: 3px;

    align-content: center;
    text-align: center;
}

#character_content {
    height: 90%;
    overflow-y: scroll;
}
#reset {
    border: solid red 1px;
    border-radius: 3px;
    padding-left: .3em;
    padding-right: .3em;
}

#save {
    border: solid 1px;
    border-radius: 3px;
    padding-left: .3em;
    padding-right: .3em;
}

#prestige {
    border: solid green 1px;
    border-radius: 3px;
    padding-left: .3em;
    padding-right: .3em;
}

#save_text {
    opacity: 0;
}
#all_off {
    border: solid red 1px;
    border-radius: 3px;
    background: red;
    padding-left: .3em;
    padding-right: .3em;
}
#all_on {
    border: solid green 1px;
    border-radius: 3px;
    background: green;
    padding-left: .3em;
    padding-right: .3em;
}

ul{
    list-style-type: none;
}

li{
    position: relative;
    left: -2em;
    top: -.5em;
    background-color: #222;
    float: left;
    margin: .1em;

}

hr {
    margin-top: .8em; 
    margin-bottom: .8em; 
    width: 70%;
}

/* Tooltip container */
.tooltip {
    position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 15em;
    text-align: center;
    border: 1px solid;
    border-radius: 3px;

    
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 10%;

    opacity: 0;
    transition: opacity .3s;
}

.hidden {
    display: none;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.tooltip > .tooltiptext:hover {
    visibility: hidden;
}

/* The upgrade tooltip should specifically stay if hovered over .*/
#upgrade_count > .tooltiptext:hover {
             visibility: visible;
  -webkit-touch-callout: initial; /* iOS Safari */
}

.clickable {
    border: solid 1px; 
    border-radius: 3px; 
    padding-left: .3em; 
    padding-right: .3em; 
    display: inline-block; 
    margin: .2em;
}


.energy_box_off {
    height: 1em;
    border: 1px solid gray;
    background-color: darkgray;
}

.energy_box_on {
    height: 1em;
    border: 1px solid darkgreen;
    background-color: green;
}
.energy_box_disabled {
    height: 1em;
    border: 1px solid darkred;
    background-color: red;
}

#skill_tree {
    position: relative;
    height: 50em;
    top: 2em;
}

.skill_box {
    border: 2px solid;
    border-radius: 3px;
    width: 10em;
    height: 5em;
    padding: .5em;
}

.skill_box.purchased {
    border-color: green;
    background-color: aqua;
    color: black;
}

.skill_box.purchased:hover {
    background-color: aquamarine;
}

.skill_box:not(.purchased):not(.buyable) {
    border-color: red;
}

.skill_box:not(.purchased):hover {
    background-color: royalblue;
}

.skill_box.buyable {
    border-color: green;
}

#settings {
    position: fixed;
    top: 10%;
    left: 20%;

    height: 80%;
    width: 66%;
    min-height: 35em;
    min-width: 45em;
    z-index: 1;

    border: 1px solid;
    border-radius: 3px;

    align-content: center;
    text-align: center;
}

#settings_content {
    height: 90%;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

#close_settings {
    position: absolute;
    z-index: 100;
    top: 0.3em;
    right: 0.3em;
    background-color: red;
    border: 1px solid orange;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 3px;
}

#omega_upgrades {
    border-collapse: collapse;
    border-color: #777777;
}

#omega_upgrades td {
    width: 7em;
    height: 7em;
}

.level_1 {
    background-color: red;
}

.level_2 {
    background-color: green;
}

.level_3 {
    background-color: blue;
}
.level_4 {
    background: linear-gradient(red, green, blue, red);
}

textarea {
    width: 90%;
    clear: both;
    display: block;
}
